<meta charset="utf-8">
<ons-navigator title="Navigator" var="meNavigator">
<ons-page>
  <ons-toolbar>
    <div class="left" ng-click="meNavigator.pushPage('Shop-Jaris/index.html')"><ons-back-button>Back</ons-back-button></div>
    <div class="center">Detail</div>
    <div class="right" ng-click="meNavigator.pushPage('Shop-Jaris/page4.html')"><ons-next-button>Next</ons-next-button></div>
  </ons-toolbar>

<ul class="list">
  <li class="list__header">
    สินค้า
  </li>
  <li class="list__item">
    Item
  </li>
  <li class="list__header">
    ข้อมูล
  </li>
  <li class="list__item">
    Item
  </li>
</ul>

    </ons-page>
      </ons-navigator>