<meta charset="utf-8">

<ons-navigator title="Navigator" var="myNavigator">

<ons-page ng-controller="MenuController">
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        
        	
        
        
       <div class="center">โอนเงิน</div>   
      </ons-toolbar>
   
   <ul class="list">
  <li class="list__item list__item--chevron" ng-click="myNavigator.pushPage('Shop-Atikom/index.html')">
    แจ้งผลการโอนเงิน
  </li>
  <li class="list__item list__item--chevron" ng-click="myNavigator.pushPage('Shop-Atikom/page3.html')">
    ประวัติผลการโอนเงิน
  </li>
</ul>
   
   
      
    </ons-page>
    </ons-navigator>