 <meta charset="utf-8">
 
 <ons-page ng-controller="adminViewProductTypeController">
      <ons-toolbar>
        <div class="left">
       <ons-toolbar-button>
    	<ons-back-button ng-click="menu.setMainPage('Shop-Kamthorn/page7.html')">Back
    	</ons-back-button>
          </ons-toolbar-button>
          </div>
        <div class="right">
          <ons-toolbar-button ng-click="menu.setMainPage('Shop-Kamthorn/page6.html')">บันทึก
          </ons-toolbar-button>
        </div>
		
        <div class="center">เลือกประเภทสินค้า</div>
      </ons-toolbar>
      
	
	   
      
<ons-list style="margin: auto 0px auto 0px;">
      
      <ons-list-item modifier="chevron" ng-repeat="productType in productTypes">
      		
          <label class="checkbox checkbox--noborder checkbox--list-item">
            <input type="checkbox">
            <div class="checkbox__checkmark checkbox--noborder__checkmark checkbox--list-item__checkmark"></div>
          	 {{productType.name}}
          </label>
       
      </ons-list-item>
      
      </ons-list>
        	
    </ons-page>