 <meta charset="utf-8">
 
  <ons-page ng-controller="ManageProductTypeController">
      <ons-toolbar>
     <div class="left">
          <ons-back-button>ย้อนกลับ </ons-back-button>
        </div>
     <div class="right">
          <ons-toolbar-button ng-click="addProduct()">บันทึก
          </ons-toolbar-button>
        </div>
		
		<div class="center">
			เพิ่มรายการสินค้า
		</div>
	</ons-toolbar>
	
	<br>
	   <ons-list-header><b>เลือกประเภทสินค้า</b></ons-list-header>
	<ons-list-item modifier="chevron"  ng-click="MainNavigator.pushPage('Shop-Kamthorn/page5.html')">
			กรุณาเลือก
        </ons-list-item>
        
<ons-list>
	<div class="product-form" >
	
        <input ng-model="name" type="text" class="text-input--underbar" placeholder="ชื่อสินค้า" style="margin-top:8px; width: 85%;">
    
        <input ng-model="detail" type="text" class="text-input--underbar" placeholder="รายละเอียดสินค้า" style="margin-top:8px; width: 85%;">
  	
  		<input ng-model="amount" type="text" class="text-input--underbar" placeholder="จำนวนสินค้า" style="margin-top:8px; width: 85%;">
   
        <input ng-model="normalprice" type="text" class="text-input--underbar" placeholder="ราคาปกติ" style="margin-top:8px; width: 85%;">
     
        <input ng-model="discount" type="text" class="text-input--underbar" placeholder="ส่วนลด" style="margin-top:8px; width: 85%;">
        
        <input ng-model="price" type="text" class="text-input--underbar" placeholder="ราคาสินค้า" style="margin-top:8px; width: 85%;">
     
     
     <ons-list-item>
     	<input ng-model="picture" type="text" class="text-input--underbar" placeholder="รูปภาพ" style="margin-top:8px; width: 85%;">
     </ons-list-item>  
      <br>
     <ons-list-item ng-if="picture">
     	<img src="{{picture}}" width="40%" style="margin-top:10px;" />
     </ons-list-item>     
	</div>
	</ons-list>
	
	
</ons-page>